body.style-tests {
	background-color: $oc-gray-0;
	color: $text-admin-light;
	font-family: $fonts-test;

	.toc {
		font-size: 12px;
		margin-bottom: $space*4;
	}

}

.test-component {
	background-color: #fff;
	border: 1px solid $oc-gray-2;
	border-radius: $space*2;
	margin: 0 $space $space*2;
	padding: $space $space*4;
}

div[class^='on-'] {
	margin-bottom: 1em;
	padding: 0.75em 0.5em;
	border-radius: 10px;
}


.button { // wp core ui button
	display: inline-block;
	text-decoration: none;
	font-size: 13px;
	line-height: 26px;
	height: 28px;
	margin: 0;
	padding: 0 10px 1px;
	cursor: pointer;
	border-width: 1px;
	border-style: solid;
	border-radius: 3px;
	white-space: nowrap;
	box-sizing: border-box;

	color: #555;
	border-color: #ccc;
	background: #f7f7f7;
	box-shadow: 0 1px 0 #ccc;
	vertical-align: top;
}
